<html>
  <head><title>Merci pour votre commande!</title></head>
  <body>
    <h1>Merci pour votre commande!!</h1>
    <p>
      We appreciate your business!
      Si vous avez des questions: 
      <a href="mailto:orders@example.com">tarnof@hotmail.com</a>.
    </p>
  </body>
</html>